body {
  margin: 0; }

#navBar {
  display: inline-block;
  height: 62.5px;
  width: 100%;
  background-color: #fff; }
  #navBar #logo {
    height: 100%;
    width: 150px;
    background-image: url("../../imgs/bigAlLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: left;
    margin-left: 20px; }
  #navBar ul {
    width: 60%;
    background-color: #ccc;
    height: 100%;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: center;
    padding-right: 100px; }
  #navBar li {
    display: inline-block;
    height: 100%;
    min-width: 100px;
    line-height: 62.5px;
    background-color: #888; }
  #navBar #contact {
    height: 30px;
    width: 100px;
    background-color: #fff;
    float: right;
    text-align: center;
    line-height: 30px;
    border: 3px solid #F91D2F;
    border-radius: 30px;
    margin: 15.5px 36px 0 0; }
